.homeplates {
  display: flex;

  .cate {
    display: flex;
    margin-top: 1.5rem;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 14rem;
    .item {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      width: 10rem;
      height: 3rem;
      border: 1px solid rgba(0, 0, 0, 0);
      margin: 0.5rem 0 0 0.5rem;
      background-color: var(--el-color-white);
      border-right: none;
    }
    .selected {
      justify-content: space-between;
      border-radius: 0.5rem 0 0 0.5rem;
      transition: all 0.3s ease;
    }
    .activation {
      background-color: var(--el-bg-color);
      width: 12rem;
      box-shadow: -2px 3px 3px var(--el-color-info-light-9);
      border: 1px solid var(--el-color-info-dark-2);
      border-right: none;
    }
    .activation::after {
      content: '';
      display: block;
      position: relative;
      right: -9px;
      width: 1px;
      height: 100%;
      background-color: var(--el-bg-color);
      margin-left: 1rem;
    }
  }

  .listbody {
    display: flex;
    .hr {
      width: 10px;
      height: 100%;
      background-color: var(--el-bg-color);
      border-radius: 0.5rem 0 0 0;
      border-left: 1px solid var(--el-color-info-dark-2);
    }
    .window {
      width: calc(100vw - 240px);
    }
    @media (max-width: 768px) {
      .window {
        width: 100vw;
      }
    }
  }
}

/** 列表骨架 */
.skeleton {
  width: 100%;
  margin: 0 1rem;
  height: 1rem;
  background-color: var(--el-color-info-light-3);
  border-radius: 1rem;
}
