.navigation {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  height: 3.5rem;

  .logo {
    flex: 1;
    margin-left: 0.5rem;
    display: flex;
    justify-content: left;
    .title {
      margin-left: 0.5rem;
      font: 1.2rem sans-serif;
    }
  }
  button {
    color: var(--el-text-color-primary);
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0.6rem;
  }
  .right {
    .tools {
      align-items: center;
      display: flex;
      padding: 0;
      margin-right: 0.5rem;
      button {
        justify-content: center;
        margin: 0 1rem;
        .el-image {
          height: 1.8rem;
          width: 1.8rem;
        }
      }
    }
    .head {
      width: 2.8rem;
      height: 2.8rem;
      margin: 0.25rem;
      padding: 0;
      border-radius: 50%;
    }
  }

  button:hover {
    background-color: var(--el-color-info-light-3);
    border-radius: var(--el-border-radius-base);
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.usercard {
  position: absolute;
  width: 15rem;
  border-radius: var(--el-border-radius-base);
  background-color: var(--el-bg-color);
  max-height: 90vh;
  box-shadow: var(--el-box-shadow);
  overflow-y: auto;
  z-index: 5;
  .headimg {
    width: 100%;
    min-height: 6rem;
    max-height: 10rem;
    object-fit: cover;
    border-radius: var(--el-border-radius-base);
  }
  .head {
    height: 2.5rem;
  }

  .nackname {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .hr {
    height: 1rem;
  }
  .body {
    padding: 0 8px;
  }
  .group {
    padding: 0 0 12px 0;
    .title {
      font-size: 12px;
      color: var(--el-color-info-light-3);
    }
  }
  .item {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    align-items: center;
  }
  .item:hover {
    background-color: var(--el-color-info-light-3);
    border-radius: var(--el-border-radius-base);
  }
}

.headimage {
  width: 3.5rem;
  margin: 0.25rem;
  padding: 0;
  border-radius: 50%;
  position: relative;
  top: -2rem;
  left: 0.5rem;
  border: 2px solid var(--el-color-white);
}

.loginbody {
  border-radius: var(--el-border-radius-base);
  background-color: var(--el-color-white);
  max-height: 38rem;
  width: 80vw;
  max-width: 800px;
  box-shadow: var(--el-box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
  pointer-events: auto;
  .titleimg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 100%;
    max-width: 500px;
    max-height: 608px;
    border-radius: var(--el-border-radius-base);
    animation: loginOpenAnimation 0.4s forwards;
  }
  .title {
    font-size: 2rem;
  }

  .form {
    margin: 2rem 2rem 1rem 2rem;
    width: 80%;
    max-width: 400px;
    transition: all 0.4s ease;
    animation: loginOpenAnimation 0.4s forwards;
  }
  .captcha {
    width: 100%;
    margin: 2rem 2rem 1rem 2rem;
    width: 80%;
    max-width: 400px;
    .item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
    }
  }
}

.bj {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--el-color-info-light-3);
  font-size: 1rem;
}

.usercardoff {
  animation: usercardOffAnimation 0.3s forwards;
}
.usercardon {
  animation: usercardOpenAnimation 0.3s forwards;
}

.bgoff {
  animation: bgOffAnimation 0.3s forwards;
}
.bgon {
  animation: bgOpenAnimation 0.3s forwards;
}
.loginoff {
  animation: loginOffAnimation 0.3s forwards;
}
.loginon {
  animation: loginOpenAnimation 0.3s forwards;
}

@keyframes loginOpenAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loginOffAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bgOpenAnimation {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@keyframes bgOffAnimation {
  0% {
    background-color: rgba(0, 0, 0, 0.3) v;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes usercardOpenAnimation {
  0% {
    right: -10rem;
    opacity: 0;
  }
  100% {
    right: 1rem;
    opacity: 1;
    overflow-y: auto;
  }
}

@keyframes usercardOffAnimation {
  0% {
    right: 1rem;
    opacity: 1;
    overflow-y: auto;
  }
  100% {
    right: -10rem;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .loginbody {
    width: 95vw;
    justify-content: center;
  }
}
