.usersetup {
  .group {
    margin: 1rem auto;
    border-radius: 0.5rem;
    width: 40vw;
    background-color: var(--el-color-info-light-9);
  }

  .item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
  }
  .item:hover {
    background-color: var(--el-color-info-light-3);
  }

  @media (max-width: 768px) {
    .group {
      width: 90vw;
    }
  }
}
