@font-face {
  font-family: "iconfont"; /* Project id 4234513 */
  src: url('iconfont.woff2?t=1700550443378') format('woff2'),
       url('iconfont.woff?t=1700550443378') format('woff'),
       url('iconfont.ttf?t=1700550443378') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ScMod:before {
  content: "\e616";
}

.icon-ScLogo:before {
  content: "\e617";
}

.icon-moonOn:before {
  content: "\e614";
}

.icon-moon:before {
  content: "\e615";
}

.icon-liebiao:before {
  content: "\e612";
}

.icon-shezhi:before {
  content: "\e892";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-liebiao_o:before {
  content: "\eb7c";
}

.icon-adventure:before {
  content: "\e603";
}

.icon-technology:before {
  content: "\e609";
}

.icon-agriculture:before {
  content: "\e60a";
}

.icon-library:before {
  content: "\e60c";
}

.icon-server:before {
  content: "\e60d";
}

.icon-magic:before {
  content: "\e611";
}

.icon-lifangti:before {
  content: "\e654";
}

.icon-changyonglogo45:before {
  content: "\e727";
}

.icon-wangpan:before {
  content: "\e6fc";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-a-tupianyihuifu-48:before {
  content: "\e60e";
}

.icon-a-Group39:before {
  content: "\e607";
}

.icon-cloudStore:before {
  content: "\e604";
}

.icon-view:before {
  content: "\e605";
}

.icon-github:before {
  content: "\e606";
}

.icon-wentifankui:before {
  content: "\e601";
}

.icon-dianzan:before {
  content: "\e602";
}

.icon-gengduo:before {
  content: "\e60b";
}

.icon-fankui:before {
  content: "\e738";
}

.icon-androidgengduo:before {
  content: "\e78d";
}

.icon-redu:before {
  content: "\e619";
}

.icon-tubiao_diancai:before {
  content: "\e610";
}

.icon-bangzhu:before {
  content: "\e620";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-xiugai:before {
  content: "\e8cf";
}

.icon-gongjuxiang:before {
  content: "\e649";
}

.icon-icon-:before {
  content: "\e621";
}

.icon-bangzhuyushuoming:before {
  content: "\e70f";
}

.icon-renwu-tuandui:before {
  content: "\e749";
}

.icon-renwu-zengjia:before {
  content: "\e74a";
}

.icon-jiaoxuepingjia:before {
  content: "\e65c";
}

.icon-tianjiatupian:before {
  content: "\e70a";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-pifu:before {
  content: "\e62b";
}

.icon-qita:before {
  content: "\e646";
}

.icon-redu1:before {
  content: "\e608";
}

.icon-jurassic_user:before {
  content: "\e6a4";
}

.icon-duolianji:before {
  content: "\e62e";
}

.icon-gonggao:before {
  content: "\e613";
}

.icon-tianjiawenjian:before {
  content: "\e66a";
}

.icon-fuzhi:before {
  content: "\e8b0";
}

.icon-shuaxin:before {
  content: "\e8b9";
}

.icon-xiaoxi1:before {
  content: "\e8bd";
}

.icon-xiugai1:before {
  content: "\e60f";
}

.icon-user-employee-management-settings-gear-profile-335:before {
  content: "\e9d4";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-xiazai:before {
  content: "\e600";
}

